:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;

  app-header {
    height: 10vh;
    display: flex;
    flex-direction: row;
  }

  .content-wrapper {
    height: 90vh;
    width: 100%;
    flex: 0.8;
  }
}
