.help-modal {
  .backdrop {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      content: '';
    }
  }

  .content {
    .innerContent {
      padding: 20px;
      position: absolute;
      width: 90vw;
      right: 2%;
      height: 75vh;
      background-color: white;
      border: 1px solid #ddd;
      box-shadow: 0.2px 0.6px 0.5px 0.5px;
      z-index: 1;
      overflow: scroll;
    }
  }
}
